In [23]:
import pandas as pd
df = pd.read_csv("Output.csv", sep='\t', error_bad_lines= False)

In [22]:
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,0077614992,"[0, 0]",5.0,This book was a requirement for a college clas...,"02 15, 2013",ARMDSTEI0Z7YW,dodo,great,1360886400
1,1,0615208479,"[0, 0]",5.0,This is a great gift for anyone who wants to h...,"12 1, 2008",A3FYN0SZYWN74,Marilyn Mitzel,AMAZING HOW QUICKLY IT WORKS!,1228089600
2,2,0615269990,"[0, 0]",5.0,Very helpful in learning about different disea...,"04 6, 2014",A2J0WRZSAAHUAP,icu-rn,Must have,1396742400
3,3,0615269990,"[1, 1]",5.0,Occam's Razor is an unbelievably intuitive and...,"12 4, 2013",A38RKP6G5P8J63,JOSEPH A WONG,"Occam's Razor, a game for all ages and backgro...",1386115200
4,4,0615269990,"[0, 0]",2.0,I met the guys from Nerdcore at a medical conf...,"04 24, 2014",ARENM677YXZKX,Sonny Patel,Very limited utility,1398297600

In [24]:
df.shape

(2982326, 10)

In [25]:
df.columns

Index(['Unnamed: 0', 'asin', 'helpful', 'overall', 'reviewText', 'reviewTime',
       'reviewerID', 'reviewerName', 'summary', 'unixReviewTime'],
      dtype='object')

In [29]:
df[['helpful','overall']]

        helpful  overall
0        [0, 0]      5.0
1        [0, 0]      5.0
2        [0, 0]      5.0
3        [1, 1]      5.0
4        [0, 0]      2.0
5        [0, 0]      5.0
6        [0, 0]      5.0
7        [0, 0]      5.0
8        [0, 0]      5.0
9        [0, 0]      5.0
10       [1, 1]      5.0
11       [0, 0]      4.0
12       [0, 0]      5.0
13       [0, 0]      5.0
14       [1, 1]      5.0
15       [0, 0]      5.0
16       [0, 0]      5.0
17       [3, 4]      2.0
18       [0, 0]      4.0
19       [4, 5]      1.0
20       [0, 1]      1.0
21       [3, 3]      1.0
22       [0, 0]      3.0
23       [1, 1]      5.0
24       [0, 0]      5.0
25       [0, 0]      5.0
26       [0, 0]      5.0
27       [1, 1]      5.0
28       [0, 0]      4.0
29       [1, 1]      5.0
...         ...      ...
2982296  [1, 1]      5.0
2982297  [0, 0]      5.0
2982298  [1, 1]      4.0
2982299  [1, 1]      5.0
2982300  [1, 1]      5.0
2982301  [1, 1]      4.0
2982302  [0, 0]      5.0
2982303  [1, 1]      5.0
2982304  [1, 1]      5.0
2982305  [1, 1]      5.0
2982306  [0, 0]      5.0
2982307  [1, 1]      5.0
2982308  [1, 1]      5.0
2982309  [0, 0]      5.0
2982310  [1, 1]      5.0
2982311  [1, 1]      5.0
2982312  [0, 0]      5.0
2982313  [0, 0]      5.0
2982314  [0, 0]      5.0
2982315  [0, 0]      5.0
2982316  [0, 0]      5.0
2982317  [0, 0]      5.0
2982318  [0, 0]      5.0
2982319  [0, 0]      5.0
2982320  [0, 0]      5.0
2982321  [0, 0]      5.0
2982322  [1, 1]      5.0
2982323  [0, 0]      5.0
2982324  [0, 0]      5.0
2982325  [0, 0]      1.0

[2982326 rows x 2 columns]

In [30]:
df.describe()

         Unnamed: 0       overall  unixReviewTime
count  2.982326e+06  2.982326e+06    2.982326e+06
mean   1.491162e+06  4.107974e+00    1.358166e+09
std    8.609235e+05  1.336448e+00    5.000698e+07
min    0.000000e+00  1.000000e+00    9.014112e+08
25%    7.455812e+05  4.000000e+00    1.347667e+09
50%    1.491162e+06  5.000000e+00    1.372810e+09
75%    2.236744e+06  5.000000e+00    1.391472e+09
max    2.982325e+06  5.000000e+00    1.406074e+09